/* Intended for use anywhere, more utilities than components */
@import 'generic/page.css';
@import 'generic/input.css';
@import 'generic/button.css';
@import 'generic/table.css';
@import 'generic/tabs.css';

@import 'generic/message-editor.css';
@import 'generic/message-group.css';
@import 'generic/message.css';
@import 'generic/avatar.css';

@import 'generic/loading.css';

/* One-time use or intended for use in a specific position in the document */
@import 'specific/sidebar.css';
@import 'specific/user-list.css';
@import 'specific/modal.css';
@import 'specific/message-list.css';
@import 'specific/toast.css';
@import 'specific/channel-header.css';

/* Pages */
@import 'pages/emote-settings.css';
@import 'pages/account-settings.css';
@import 'pages/authorized-users.css';

:root {
  --gray-900: #fff;
  --gray-700: #eaedf2;
  --gray-500: #cdd1d7;
  --gray-300: #a3a8af;
  --gray-200: #5a5a5a;
  --gray-100: #2d323a;

  --blue: #337df4;
  --blue-a2: rgba(51, 125, 244, 0.2); /* --blue with alpha of 0.2 */
  --blue-a3: rgba(51, 125, 244, 0.3); /* --blue with alpha of 0.3 */

  --green: #26a527;
  --green-a2: rgba(38, 165, 39, 0.2); /* --green with alpha of 0.2 */
  --green-a3: rgba(38, 165, 39, 0.3); /* --green with alpha of 0.3 */

  --red: #f43259;

  /* Part of theme - will likely be changed by JS */
  --accent: var(--blue);
  --unread-dot-color: var(--red);
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Lato", system-ui, Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  color: var(--page-fg);
  background: var(--page-bg);

  height: 100vh;

  & > main {
    display: flex;
    flex-direction: column;

    flex: 12 0 0;
    height: 100vh;
    overflow-y: hidden;

    /* background: var(--gray-700); */
  }
}

.Link {
  color: var(--blue);
  cursor: pointer;
  text-decoration: underline;
}

::selection { background: #b3d4fc; color: black }
