@import 'generic/**/*.css';
@import '../js/**/*.css';
/* TODO: move pages/* to their respective components, once those are actially
 * a thing */

:root {
  --base00: #ffffff;
  --base01: #eef2f5;
  --base02: #cdd1d7;
  --base03: #a3a8af;
  --base04: #70808d;
  --base05: #687682;
  --base06: #61717d;
  --base07: #49555f;
  --base08: #29353f;
  --base09: #68c0f8;
  --base0A: #8bbf56;
  --base0B: #56bf8b;
  --base0C: #568bbf;
  --base0D: #8b56bf;
  --base0E: #bf568b;
  --base0F: #a93a3a;

  --base10: #ffffff60;
  --base11: #eef2f560;
  --base12: #cdd1d760;
  --base13: #a3a8af60;
  --base14: #70808d60;
  --base15: #68768260;
  --base16: #61717d60;
  --base17: #49555f60;
  --base18: #29353f60;
  --base19: #68c0f860;
  --base1A: #8bbf5660;
  --base1B: #56bf8b60;
  --base1C: #568bbf60;
  --base1D: #8b56bf60;
  --base1E: #bf568b60;
  --base1F: #bf565660;

  --base20: #ffffff30;
  --base21: #eef2f530;
  --base22: #cdd1d730;
  --base23: #a3a8af30;
  --base24: #70808d30;
  --base25: #68768230;
  --base26: #61717d30;
  --base27: #49555f30;
  --base28: #29353f30;
  --base29: #68c0f830;
  --base2A: #8bbf5630;
  --base2B: #56bf8b30;
  --base2C: #568bbf30;
  --base2D: #8b56bf30;
  --base2E: #bf568b30;
  --base2F: #bf565630;

  --shadow: var(--base17);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: #000000;
    --base01: #040404;
    --base02: #1c1f24;
    --base03: #3f3f3f;
    --base04: #565656;
    --base05: #b7b7b7;
    --base06: #e0e0e0;
    --base07: #ffffff;
    --base08: #eb008a;
    --base09: #f29333;
    --base0A: #f8ca12;
    --base0B: #37b349;
    --base0C: #00aabb;
    --base0D: #0e5a94;
    --base0E: #b31e8d;
    --base0F: #7a2d00;

    --base10: #00000060;
    --base11: #04040460;
    --base12: #1c1f2460;
    --base13: #3f3f3f60;
    --base14: #56565660;
    --base15: #b7b7b760;
    --base16: #e0e0e060;
    --base17: #ffffff60;
    --base18: #eb008a60;
    --base19: #f2933360;
    --base1A: #f8ca1260;
    --base1B: #37b34960;
    --base1C: #00aabb60;
    --base1D: #0e5a9460;
    --base1E: #b31e8d60;
    --base1F: #7a2d0060;

    --base20: #00000030;
    --base21: #04040430;
    --base22: #1c1f2430;
    --base23: #3f3f3f30;
    --base24: #56565630;
    --base25: #b7b7b730;
    --base26: #e0e0e030;
    --base27: #ffffff30;
    --base28: #eb008a30;
    --base29: #f2933330;
    --base2A: #f8ca1230;
    --base2B: #37b34930;
    --base2C: #00aabb30;
    --base2D: #0e5a9430;
    --base2E: #b31e8d30;
    --base2F: #7a2d0030;

    --shadow: var(--base10);
  }
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  line-height: 1.5;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  color: var(--base04);
  background: var(--base01);

  height: 100vh;

  /* Aligning box-shadows is easiest when the sidebars are below the main view. */
  & > .Sidebar { z-index: 1; }
  & > main { z-index: 2; }

  & > main {
    display: flex;
    flex-direction: column;

    flex: 12 0 0;
    height: 100vh;
    overflow-y: hidden;

    /* background: var(--gray-700); */
  }
}

.Link {
  color: var(--base09);
  cursor: pointer;
  text-decoration: underline;
}

body {
  stroke: currentColor;
}

svg {
  stroke: inherit;
}

::selection { background: var(--base06); color: var(--base02); text-shadow: none }
