/* Intended for use anywhere, more utilities than components */
@import 'generic/page.css';
@import 'generic/input.css';
@import 'generic/button.css';
@import 'generic/table.css';
@import 'generic/tabs.css';

@import 'generic/message-editor.css';
@import 'generic/message-group.css';
@import 'generic/message.css';
@import 'generic/avatar.css';

@import 'generic/loading.css';

/* One-time use or intended for use in a specific position in the document */
@import 'specific/sidebar.css';
@import 'specific/user-list.css';
@import 'specific/modal.css';
@import 'specific/message-list.css';
@import 'specific/toast.css';
@import 'specific/channel-header.css';

/* Pages */
@import 'pages/emote-settings.css';
@import 'pages/account-settings.css';
@import 'pages/authorized-users.css';

/* TODO: migrate everything to this format + use a glob import */
@import '../js/LeftSidebar/ServerDetails/ServerDetails.css';
@import '../js/ServerList/ServerList.css';
@import '../js/Dropdown/Dropdown.css';
@import '../js/LeftSidebar/SessionInfo/SessionInfo.css';

:root {
  --base00: #ffffff;
  --base01: #eef2f5;
  --base02: #cdd1d7;
  --base03: #a3a8af;
  --base04: #70808d;
  --base05: #687682;
  --base06: #61717d;
  --base07: #49555f;
  --base08: #29353f;
  --base09: #68c0f8;
  --base0A: #8bbf56;
  --base0B: #56bf8b;
  --base0C: #568bbf;
  --base0D: #8b56bf;
  --base0E: #bf568b;
  --base0F: #bf5656;

  --base10: #ffffff60;
  --base11: #eef2f560;
  --base12: #cdd1d760;
  --base13: #a3a8af60;
  --base14: #70808d60;
  --base15: #68768260;
  --base16: #61717d60;
  --base17: #49555f60;
  --base18: #29353f60;
  --base19: #68c0f860;
  --base1A: #8bbf5660;
  --base1B: #56bf8b60;
  --base1C: #568bbf60;
  --base1D: #8b56bf60;
  --base1E: #bf568b60;
  --base1F: #bf565660;

  --base20: #ffffff30;
  --base21: #eef2f530;
  --base22: #cdd1d730;
  --base23: #a3a8af30;
  --base24: #70808d30;
  --base25: #68768230;
  --base26: #61717d30;
  --base27: #49555f30;
  --base28: #29353f30;
  --base29: #68c0f830;
  --base2A: #8bbf5630;
  --base2B: #56bf8b30;
  --base2C: #568bbf30;
  --base2D: #8b56bf30;
  --base2E: #bf568b30;
  --base2F: #bf565630;
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  line-height: 1.5;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  color: var(--base04);
  background: var(--base01);

  height: 100vh;

  & > main {
    display: flex;
    flex-direction: column;

    flex: 12 0 0;
    height: 100vh;
    overflow-y: hidden;

    /* background: var(--gray-700); */
  }
}

.Link {
  color: var(--base09);
  cursor: pointer;
  text-decoration: underline;
}

body {
  stroke: currentColor;
}

svg {
  stroke: inherit;
}

::selection { background: var(--base06); color: var(--base02); text-shadow: none }
