.emote-settings {
  & td:nth-child(2) {
    min-width: 100px;
  }

  & button {
    margin-left: 0;
  }

  & tr {
    height: 50px;
    text-align: center;
  }

  & button.add {
    margin-top: 20px;
  }
}
