@import 'server-dropdown.css';
@import 'session-info.css';

.Sidebar {
  flex: 0 0 300px;
  overflow-y: auto;

  background: var(--gray-900);
  border-top: 6px solid var(--blue);
  border-right: 1px solid var(--gray-500);

  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.Sidebar-list {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.Sidebar-list-item {
  display: flex;
  position: relative;

  align-items: center;
  padding: 8px 16px;
  margin-bottom: 4px;

  font-size: 16px;
  color: var(--gray-100);
  text-decoration: none;

  cursor: pointer;
  border-radius: 4px;

  &.\--icon-channel::before {
    display: inline;
    content: '#';

    margin-right: 8px;
    margin-left: -4px;

    font-weight: bold;
    color: var(--gray-500);
  }

  &.\--icon-setting::before {
    display: inline-block;
    content: ' ';

    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-left: -4px;

    background: url('/img/cog.svg') center center / contain no-repeat;
  }

  &:hover { background: var(--gray-700); }
  &.is-active {
    background: var(--blue);
    color: var(--gray-900);

    &::before { color: var(--light-blue); }
  }

  &.is-unread::after {
    display: block;
    content: ' ';

    position: absolute;
    top: 9px;
    left: 18px;
    width: 6px;
    height: 6px;

    border-radius: 99px;
    background: var(--red);
    border: 2px solid var(--gray-900);
  }

  &.is-unread:hover::after { border-color: var(--gray-700); }
  &.is-unread.active:hover::after { border-color: var(--blue); }
}

.Sidebar-section {
  margin: 16px;
}

.Sidebar-section-title {
  display: flex;
  position: relative;

  align-items: center;
  margin-bottom: 4px;

  z-index: 10;

  & > h4 {
    text-transform: uppercase;
    color: var(--gray-300);

    margin: 0;
  }

  & > button {
    margin-left: auto;
    padding: 4px 8px;

    color: var(--green);
    background: var(--green-a2);
    &:hover { background: var(--green-a3); }

    font-size: 12px;
    border: 1px solid var(--green-a2);
    border-radius: 4px;

    cursor: pointer;
  }
}

.Sidebar-section-content {
  color: var(--gray-300);

  font-size: 14px;

  -webkit-touch-callout: default;
    -webkit-user-select: text;
       -moz-user-select: text;
            user-select: text;
}
