.Dropdown {
  position: fixed;

  padding: 12px 0;
  z-index: 850;

  font-size: 14px;
  border-radius: 10px;

  min-width: 160px;
  max-height: 50vh;
  overflow-y: auto;

  color: var(--base07);
  background: var(--base00);

  box-shadow: 0 1px 24px rgba(0, 0, 0, 0.2);
  user-select: none;

  animation: dropdownEntry 140ms;
}

@keyframes dropdownEntry {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.Dropdown-muted {
  color: var(--base04);
}

.Dropdown-listItem {
  padding: 4px 16px;
  width: 100%;

  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    color: var(--base00);
    background: var(--base0B);

    & .Dropdown-muted {
      color: var(--base10);
    }
  }
}

.Dropdown-text {
  padding: 0 16px;
}

.Dropdown-header {
  display: inline-block;

  color: var(--base0B);
  padding: 4px 16px;

  font-size: 20px;

  &.\--red {
    color: var(--base0F);
  }
}

.Dropdown-separator {
  width: 100%;
  height: 1px;

  margin: 12px 0;
  background: var(--base01);
}

.Dropdown-page-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 800;

  background: var(--base23);
  animation: dropdownPageCoverEntry 140ms;
}


@keyframes dropdownPageCoverEntry {
  0% {
    background: transparent;
  }

  100% {
    background: var(--base23);
  }
}
