body, html, #app {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: row;

  font-family: sans-serif;
}

#sidebar {
  flex-grow: 0;
  width: 240px;

  color: #ccc;
  background: #222222;

  padding: 18px 0;
  user-select: none;
}

#sidebar .sidebar-heading {
  padding: 8px 18px;
  font-size: 120%;
}

#sidebar #channels-list {
  display: block;

  margin: 0;
  padding: 0;
}

#sidebar #channels-list .channel {
  list-style: none;
  cursor: pointer;

  padding: 8px 18px;
}

#sidebar #channels-list .channel.active {
  color: white;
}

#sidebar #channels-list .channel:hover {
  background-color: rgba(255, 255, 255, .2);
}

#central-pane {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

#messages {
  flex-grow: 1;
  background-color: #444;
  padding: 5px 40px;
  overflow-y: scroll;
}

#form-container {
  padding: 5px;
  background-color: #333;
  color: #DDD;
}

#form {
  display: inline-block;
  margin: 0;
}

.message {
  padding: 4px;
  color: #EEE;
}

.message.created-by-us:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.message-channelref {
  color: white;
  background-color: #222222;

  cursor: pointer;
}

.message-channelref:hover {
  color: white;
  background-color: #161616;
}

.message-mention {
  color: #cfa041;
}

.message-mention-of-user {
  color: white;
  background-color: #cfa041;
}

.message-inline-code {
  color: white;
  background-color: #232323;
}

.message-author {
  float: left;
}

.message time {
  float: right;
}

.message-author {
  font-weight: bold;
}

.message-content {
  clear: both;
  display: block;
}

.message-format-b {
  font-weight: bold;
}

.message-format-i {
  font-style: italic;
}

.message-format-u {
  text-decoration: underline;
}

.message-format-s {
  text-decoration: line-through;
}

a {
  color: #E080FF;
  text-decoration: none;
}

time {
  opacity: 0.5;
}
