:root {
  /* Mute (black/navy) */
  --mute-darker: #0E0E0F;
  --mute-dark: #121214;
  --mute: #18191c;
  --mute-light: #27292f;

  /* Accent (blue) */
  --accent-light: #8cb0de;
  --accent: #4375b5;

  /* Additional colors */
  --color-red: #d2103e;
  --color-red-light: #e01e4c;
  --color-yellow: #e6d411;
  --color-yellow-light: #f6e418;
  --color-green: #10d23d;
  --color-green-light: #13e344;

  /* Text */
  --text-black: #151314;
  --text-red: #c54445;
  --text-grey: #737f8d;
  --text-white: white;

  /* Settings */
  --sidebar-width: 240px; }

body, html, #app {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  overflow: hidden;

  font-family: sans-serif;

  color: var(--text-white);
  background: var(--mute);
  box-sizing: border-box; }

#app {
  display: flex;
  flex-direction: row; }

  #app.modal-visible {
    opacity: .4;
    pointer-events: none; }

  #central-pane {
    flex-grow: 1;

    /* Don't let overflows happen */
    width: calc(100vw - var(--sidebar-width));
    position: relative;

    display: flex;
    flex-direction: column; }

#sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--sidebar-width);

  color: var(--text-grey);
  background: var(--mute);

  padding: 0;
  user-select: none; }

  #sidebar .sidebar-heading {
    padding: 8px 18px;
    font-size: 120%; }

  #sidebar .sidebar-section {
    border-bottom: 1px dotted var(--mute-light);
    padding: 18px 0; }

    #sidebar .sidebar-section-light {
      border-bottom: none;
      background: var(--mute-light); }

  #sidebar #server-status {
    font-size: 14px;

    margin-left: 4px;
    margin-bottom: 16px; }

  #sidebar #channels-list {
    display: block;

    margin: 0;
    padding: 0; }

    #sidebar #channels-list .channel {
      list-style: none;
      cursor: pointer;

      padding: 8px 18px; }

      #sidebar #channels-list .channel.active {
        color: var(--text-white); }

      #sidebar #channels-list .channel:hover {
        background-color: var(--mute-light); }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--text-white);
  background: var(--mute-darker);

  padding: 24px 36px;
  width: 300px;
  box-shadow: 0 1px 4px black;
  border-radius: 3px; }

  .modal .modal-title {
    margin-top: 0;
    font-size: 24px; }

  .modal .modal-desc {
    color: var(--text-grey); }

  .modal .modal-error {
    margin-bottom: 4px;
    color: var(--text-red); }

  .modal .modal-actions {
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px solid var(--mute-dark); }

.input {
  margin-top: 4px;
  margin-bottom: 4px;

  color: var(--text-grey);
  background: var(--mute-dark);

  border-radius: 3px;
  padding: 12px 16px;

  font: inherit;
  border: none;
  outline: none; }

  .input.input-bordered {
    border: 1px dotted var(--mute-light); }

  .input:focus {
    background: var(--mute); }

.btn {
  cursor: pointer;

  color: var(--text-white);
  background: none;

  height: 45px;
  line-height: 45px;

  font-size: 15px;
  border-radius: 3px;

  padding: 0 18px;
  margin: 4px 6px;

  outline: none;
  border: none;
  text-shadow: none; }

  .btn.btn-visible, .btn.btn-primary {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2); }

  .btn.btn-visible, .btn:hover {
    background: var(--mute); }

  .btn.btn-visible:hover {
    background: var(--mute-light); }

  .btn.btn-primary {
    background: var(--accent) }

    .btn.btn-primary:hover{
      background: var(--accent-light); }

#form-container {
  display: flex;
  flex-direction: row;

  padding: 5px;
  background-color: var(--mute-dark);
  color: var(--text-white); }

  #form-container #form {
    flex-grow: 1;

    display: inline-flex;
    flex-direction: row;

    margin: 0; }

    #form-container #form #chat-input {
      resize: none;
      flex-grow: 1; }

  #login-status {
    font-size: 11px;
    color: var(--text-grey); }

#messages {
  flex-grow: 1;

  color: var(--white);
  background-color: var(--mute-darker);

  padding: 5px 40px;
  overflow-y: scroll; }

  .message-group {
    padding: 6px 4px 4px 4px;
    border-bottom: 1px solid var(--mute-light);
    color: #EEE; }

  .message-group-author {
    font-weight: bold; }

  .message {
    line-height: 1.5;
    padding: 4px 0; }

    .message-content {
      overflow-y: auto;
      max-height: 500px; }

  .message.created-by-us:hover {
    background-color: rgba(255, 255, 255, 0.1); }

  .message-channelref {
    color: white;
    background-color: #222222;

    cursor: pointer; }

    .message-channelref:hover {
      color: white;
      background-color: #161616; }

  .message-mention {
    color: #cfa041; }

  .message-mention-of-user {
    color: white;
    background-color: #cfa041; }

  .message-inline-code {
    color: white;
    background-color: #232323; }

  .message time {
    float: right; }

  .message-content {
    max-width: 100%;
    word-wrap: break-word;
    display: block; }

    .message-format-b {
      font-weight: bold; }

    .message-format-i {
      font-style: italic; }

    .message-format-u {
      text-decoration: underline; }

    .message-format-s {
      text-decoration: line-through; }

    .message-latex-error {
      font-weight: bold;
      color: var(--text-red); }

a {
  color: #E080FF;
  text-decoration: none; }

time {
  opacity: 0.5; }
