.ChannelHeader {
  box-sizing: border-box;
  width: 100%;
  height: 52px;
  padding: 8px 1em;

  line-height: 36px;
  font-size: 18px;
  font-weight: bold;

  color: var(--base06);
  text-shadow: 0 1px 1px var(--base23), 0 1px 25px var(--base24);

  background: var(--base01);

  border-bottom: 1px solid var(--base24);
  border-left: 1px solid var(--base22);

  user-select: none;
}
