.ServerDropdown {
  display: flex;
  position: relative;

  align-items: center;
  margin: 8px 0;
  padding: 12px 16px;

  color: var(--base06);
  background: var(--base10);
  border-radius: 10px;

  cursor: pointer;

  &::after {
    display: block;
    content: ' ';

    width: 20px;
    height: 12px;
    margin-left: auto;

    background: url('/img/caret-down.svg') center center / 24px no-repeat;

    opacity: 0;
  }

  &:not(.is-open):hover::after {
    opacity: 0.6;
  }

  &.is-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    box-shadow: 0 0 4px var(--base24);

    color: var(--base07);
    background: var(--base01);

    & .ServerDropdown-panel { display: block; }
  }
}

.ServerDropdown-panel {
  display: none;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 100;

  background: inherit;
  padding: 8px;
  border-top: 1px dotted var(--base24);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  cursor: default;
}

.ServerDropdown-option {
  padding: 8px 16px;

  border-radius: 6px;
  margin-bottom: 4px;
  &:last-child { margin-bottom: 0; }

  color: var(--base03);
  cursor: pointer;

  &:hover {
    color: var(--base04);
    background: var(--base24);
  }

  &.is-active {
    color: var(--base0C);
    background: var(--base2C);
  }
}
