.SessionInfo {
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: normal;
  color: var(--base04);
}

.SessionInfo-text {
  margin-right: auto;
}

.SessionInfo-username {
  margin-left: 5px;
  color: var(--base08) !important;
}

.SessionInfo-button {
  padding: 8px 12px;

  background: var(--base2E);
  color: var(--base0E);

  cursor: pointer;
  font-size: 12px;

  border-radius: 100px;
  border: 0;

  &:hover {
    background: var(--base1E);
  }

  &.\--minor {
    margin-left: 8px;

    background: var(--base20);
    color: var(--base0C);

    &:hover {
      background: var(--base2C);
      color: var(--base0C);
    }
  }
}
