@import 'server-dropdown.css';
@import 'session-info.css';

.Sidebar {
  flex: 0 0 300px;
  overflow-y: auto;

  background: var(--sidebar-bg);
  user-select: none;

  --sidebar-icon-color: var(--base14);
  --sidebar-icon-color-active: var(--base10);

  --sidebar-list-item-hoverfg: var(--base18);
  --sidebar-list-item-hoverbg: var(--base20);

  --sidebar-list-item-activefg: var(--base00);
  --sidebar-list-item-activebg: var(--base1C);

  &.\--on-left {
    --sidebar-fg: var(--base0C);
    --sidebar-bg: var(--base1C);

    box-shadow: 0 0 4px var(--base13);
  }

  &.\--on-right {
    --sidebar-fg: var(--base04);
    --sidebar-bg: var(--base01);

    --sidebar-list-item-fg: var(--base06);
    --sidebar-list-item-bg: var(--base01);

    --sidebar-list-item-hoverfg: var(--base0D);
    --sidebar-list-item-hoverbg: var(--base1D);
  }
}

.Sidebar-list {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.Sidebar-list-item {
  display: flex;
  position: relative;

  align-items: center;
  padding: 8px 24px;
  margin-bottom: 4px;

  font-size: 16px;
  text-decoration: none;

  overflow-x: hidden;

  cursor: pointer;
  border-radius: 100px;

  color: var(--sidebar-list-item-fg);
  background: var(--sidebar-list-item-bg);

  &:hover {
    opacity: 1 !important;

    color: var(--sidebar-list-item-hoverfg);
    background: var(--sidebar-list-item-hoverbg);

    &.is-unread::after {
      border-color: var(--sidebar-list-item-hoverbg);
    }
  }

  &.is-active {
    color: var(--sidebar-list-item-activefg);
    background: var(--sidebar-list-item-activebg);

    &.\--icon-channel::before {
      color: var(--sidebar-icon-color-active);
    }

    &.is-unread::after {
      border-color: var(--sidebar-list-item-activebg);
    }
  }

  &.\--icon-channel::before {
    display: inline;
    content: '#';

    margin-right: 8px;
    margin-left: -4px;

    font-weight: bold;
    color: var(--sidebar-icon-color);
  }

  &.\--icon-setting::before {
    display: inline-block;
    content: ' ';

    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-left: -4px;

    /* TODO: use --sidebar-icon-color for the color of this icon, somehow */
    background: url('/img/cog.svg') center center / contain no-repeat;
  }

  &.is-unread::after {
    display: block;
    content: ' ';

    position: absolute;
    top: 9px;
    left: 18px;
    width: 6px;
    height: 6px;

    border-radius: 99px;
    background: var(--unread-dot-color);
    border: 2px solid var(--sidebar-bg); /* Border color should always match background */
  }
}

.Sidebar-section {
  padding: 16px;

  &.\--bottom-line {
    border-bottom: 1px solid var(--sidebar-border-color);
  }
}

.Sidebar-section-title {
  display: flex;
  position: relative;

  align-items: center;
  margin-bottom: 4px;

  z-index: 10;

  & > h4 {
    text-transform: lowercase;
    color: var(--sidebar-fg);
    font-size: 14px;

    margin: 0;
  }

  & > button {
    margin-left: auto;
    padding: 6px 12px;

    color: var(--base01);
    background: var(--base2C);
    &:hover { background: var(--base1C); }

    font-size: 12px;
    border: 1px solid var(--green-a2);
    border-radius: 100px;

    cursor: pointer;
  }
}

.Sidebar-section-content {
  color: var(--sidebar-fg);

  font-size: 14px;
  user-select: text;
}
