.Toast {
  stroke: var(--base0F);
  color: var(--base0F);
  background: var(--base1F);

  position: fixed;
  right: 2em;
  bottom: 2em;

  padding: 1.5em;

  border-radius: 10px;
  box-shadow: 0px -2px 18px 0px var(--base2F);
}

/* Icon container */
.Toast .markup {
  display: inline-block;
  margin: 0 1em;

  vertical-align: middle;

  &:first-child { margin-left: 0 }
}
