.UserList {}

.UserList-user {
  &.is-offline {
    & .UserList-user-avatar,
    & .UserList-user-username {
      opacity: 0.4;
    }
  }
}

.UserList-user-avatar {
  position: relative;
  width: 28px;
  height: 28px;
  margin-right: 12px;
  border-radius: 4px;

  & img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
}

.UserList-user-username {}
