#sidebar {
  flex: 0 0 300px;
  overflow-y: auto;

  background: var(--gray-900);
  border-top: 6px solid var(--blue);
  border-right: 1px solid var(--gray-500);

  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

  & > section {
    margin-bottom: 16px;

    & > .subtitle {
      display: flex;
      position: relative;

      align-items: center;
      margin: 16px;
      margin-bottom: 4px;

      z-index: 10;

      & > h4 {
        text-transform: uppercase;
        color: var(--gray-300);

        margin: 0;
      }

      & > button {
        margin-left: auto;
        padding: 4px 8px;

        color: var(--green);
        background: var(--green-a2);
        &:hover { background: var(--green-a3); }

        font-size: 12px;
        border: 1px solid var(--green-a2);
        border-radius: 4px;

        cursor: pointer;
      }
    }

    & .msg,
    & > .server-list.empty {
      margin: 8px 0;
      padding: 12px 16px;

      color: var(--gray-300);
    }

    & > .server-list:not(.empty) {
      display: flex;
      position: relative;

      align-items: center;
      margin: 8px 16px;
      padding: 12px 16px;

      color: var(--gray-100);
      background: var(--gray-700);
      border-radius: 4px;

      cursor: pointer;

      &.no-click {
        cursor: default;
      }

      &:not(.no-click)::after {
        display: block;
        content: ' ';

        width: 20px;
        height: 12px;
        margin-left: auto;

        background: url('/img/caret-down.svg') center center / 24px no-repeat;
      }

      & >.panel {
        display: none;

        position: absolute;
        top: 47px;
        left: 0;
        right: 0;
        z-index: 100;

        background: inherit;
        padding: 8px;
        border-top: 1px solid var(--gray-500);

        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        cursor: default;

        & > .option {
          padding: 8px 16px;

          border-radius: 4px;
          margin-bottom: 4px;
          &:last-child { margin-bottom: 0; }

          cursor: pointer;

          &:hover { background: var(--gray-500); }
          &.active {
            background: var(--blue);
            color: #fff;
          }
        }
      }

      &.open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        & > .panel { display: block; }
      }
    }

    & > .list {
      display: flex;
      flex-direction: column;
      margin: 8px 16px;

      & > .item {
        display: flex;
        position: relative;

        align-items: center;
        padding: 8px 16px;
        margin-bottom: 4px;

        font-size: 16px;
        color: var(--gray-100);
        text-decoration: none;

        cursor: pointer;
        border-radius: 4px;

        &.channel::before {
          display: inline;
          content: '#';

          margin-right: 8px;
          margin-left: -4px;

          font-weight: bold;
          color: var(--gray-500);
        }

        &.setting::before {
          display: inline-block;
          content: ' ';

          width: 16px;
          height: 16px;
          margin-right: 8px;
          margin-left: -4px;

          background: url('/img/cog.svg') center center / contain no-repeat;
        }

        &:hover { background: var(--gray-700); }
        &.active {
          background: var(--blue);
          color: var(--gray-900);

          &::before { color: var(--light-blue); }
        }

        &.unread::after {
          display: block;
          content: ' ';

          position: absolute;
          top: 9px;
          left: 18px;
          width: 6px;
          height: 6px;

          border-radius: 99px;
          background: var(--red);
          border: 2px solid var(--gray-900);
        }
      }
    }

    & > .content {
      color: var(--gray-300);

      font-size: 14px;
      padding: 0 16px;

      -webkit-touch-callout: default;
        -webkit-user-select: text;
           -moz-user-select: text;
                user-select: text;
    }
  }
}
