body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, Lato, 'Helvetica Neue', sans-serif;

  --gray-900: #fff;
  --gray-700: #eaedf2;
  --gray-500: #cdd1d7;
  --gray-300: #a3a8af;
  --gray-100: #2d323a;

  --blue: #337df4;
  --blue-a2: rgba(51, 125, 244, 0.2); /* --blue with alpha of 0.2 */
  --blue-a3: rgba(51, 125, 244, 0.3); /* --blue with alpha of 0.3 */

  --green: #26a527;
  --green-a2: rgba(38, 165, 39, 0.2); /* --green with alpha of 0.2 */
  --green-a3: rgba(38, 165, 39, 0.3); /* --green with alpha of 0.3 */

  --red: #f43259;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  color: var(--gray-100);
  background: var(--gray-900);

  & > main {
    display: flex;
    flex-direction: column;

    flex: 12 0 0;
    height: 100vh;
    overflow-y: hidden;

    background: var(--gray-700);
  }
}

@keyframes wiggle {
  0%, 50%, 100% {
    transform: translateZ(0);
  }

  15%, 23%, 31% {
    transform: scale(1.03) rotate(-4deg) translateZ(0);
  }

  19%, 27%, 35% {
    transform: scale(1.03) rotate(4deg) translateZ(0);
  }
}

.wiggle {
  animation: 3s infinite normal wiggle;
}

.page {
  padding: 36px;
  height: 100%;
  overflow-y: auto;

  & > h1 {
    margin-top: 0;

    font-size: 32px;
    color: var(--gray-100);

    letter-spacing: -1px;

    & > .subtitle {
      color: var(--gray-300);
      font-size: 24px;
    }
  }

  /* since bottom padding doesn't actually do anything, we need to add a
     margin onto the bottom element
     (this only works as long as the bottom element in the page is a block-
     level element, but hopefully that will always be the case) */
  & > :last-child {
    margin-bottom: 36px;
  }
}

.styled-input {
  margin-bottom: 16px;

  & label {
    display: block;
    color: var(--gray-300);

    font-weight: bold;
    font-size: 16px;

    text-transform: uppercase;
    margin-bottom: 4px;
    margin-left: 13px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }

  & input {
    width: 280px;
    padding: 13px 16px;

    font-family: inherit;
    font-size: 18px;

    color: var(--gray-100);
    background: var(--gray-900);

    border: 0;
    border-bottom: 1px solid var(--gray-500);
    &:focus { border-color: var(--blue); }

    &[disabled] {
      cursor: not-allowed;
      background: var(--gray-700);
      opacity: .8;
    }
  }
}

.styled-button {
  padding: 10px 16px;
  &:not(:first-child) { margin-left: 3px; }
  &:not(:last-child) { margin-right: 3px; }

  background: var(--blue);
  border-radius: 4px;
  border: none;

  font-size: 14px;
  color: var(--gray-900);

  :not([disabled]) { cursor: pointer; }

  &.no-bg {
    color: var(--blue);
    background: transparent;

    &.red { color: var(--red); }
    &[disabled] { color: var(--gray-300); }

    &:hover:not([disabled]) {
      text-decoration: underline;
    }
  }

  &:not(.no-bg) {
    &.red { background-color: var(--red); color: white; }
  }
}

.styled-textarea {
  width: 90%;
  max-width: 600px;
  padding: 13px 16px;

  min-height: 160px;
  resize: vertical;

  font-family: inherit;
  font-size: 18px;

  color: var(--gray-100);
  background: var(--gray-900);

  border: 0;
  border-bottom: 1px solid var(--gray-500);
  &:focus { border-color: var(--blue); }

  &[disabled] {
    cursor: not-allowed;
    background: var(--gray-700);
    opacity: .8;
  }
}

a:any-link.link {
  color: var(--blue);
  text-decoration: underline;
}

::-moz-selection { background: #b3d4fc; }
::selection { background: #b3d4fc; }

table, th, td {
  border: 1px solid var(--gray-500);
  border-collapse: collapse;

  background: var(--gray-900);
}

th, td {
  padding: 0 14px;
}

/* Center images properly: https://stackoverflow.com/questions/2452280/ */
th img, td img {
  vertical-align: top;
}
