.Button {
  padding: 10px 16px;

  margin-right: 6px;
  &:last-child { margin-right: 0; }

  background: var(--blue);
  border-radius: 4px;
  border: none;

  font-size: 14px;
  color: var(--gray-900);

  :not([disabled]) { cursor: pointer; }

  &.\--red { background-color: var(--red); color: white; }

  &.\--no-bg {
    color: var(--blue);
    background: transparent;

    &.\--red { color: var(--red); }
    &[disabled] { color: var(--gray-300); }

    &:hover:not([disabled]) {
      text-decoration: underline;
    }
  }
}
