.Input {
  margin-bottom: 16px;

  & label {
    display: block;
    color: var(--base04);

    font-weight: bold;
    font-size: 16px;

    text-transform: lowercase;
    margin-bottom: 4px;

    user-select: none;

    &.\--type-text, &.\--type-password {
      margin-left: 16px;
    }
  }

  & input {
    width: 280px;
    padding: 13px 16px;

    font-family: inherit;
    font-size: 18px;

    color: var(--base08);
    background: var(--base24);

    box-shadow: inset 0 0 6px var(--base22);

    border: 1px solid var(--input-border-color);
    border-radius: 4px;

    &:focus {
      border-color: var(--accent);
      outline: none;
    }

    &::placeholder {
      color: var(--gray-300);
    }

    &[disabled] {
      cursor: not-allowed;
      background: var(--base14);
      opacity: 0.8;
    }
  }

  &.\--horizontal {
    display: flex;
    flex-direction: row;

    & label {
      width: 150px;
      line-height: 50px;

      margin: 0;
      margin-right: 14px;

      text-align: right;
    }

    & input[type=checkbox] {
      width: initial;
    }

    & select {
      height: 32px;
      margin-top: 9px;
    }
  }
}

.Textarea {
  width: 90%;
  max-width: 600px;
  padding: 13px 16px;

  min-height: 160px;
  resize: vertical;

  font-family: inherit;
  font-size: 18px;

  color: var(--base08);
  background: var(--base24);

  border: 0;
  border-bottom: 1px solid var(--base14);
  &:focus { border-color: var(--base1E); }

  &[disabled] {
    cursor: not-allowed;
    background: var(--base14);
    opacity: 0.8;
  }
}
