:root {
  --mention-of-you-fg: var(--gray-100);
  --mention-of-you-bg: rgba(255, 207, 0, 0.6);
}

.Message {
  display: flex;
  width: 100%;

  line-height: 1.4;
  margin-bottom: 0.25em;

  &.\--jumped-to {
    animation: jumped-message 4s;
  }
}

.Message-content {
  flex-grow: 0;
  flex-shrink: 1;

  overflow-x: auto;
}

.Message-fillerLine {
  flex: 1;

  margin-left: 4px;

  height: .5em;
  border-bottom: 1px dotted var(--page-dim-fg);

  opacity: 0;
  transition: opacity 250ms ease-out;
}

.Message:hover .Message-fillerLine { opacity: 0.5 }

.Message-actions {
  flex: 0;
  display: flex;

  opacity: 0;
  transition: opacity 250ms ease-out;
}

.Message:hover .Message-actions { opacity: 1 }

.Message-actions-action {
  margin-left: 4px;

  width: 1em;
  height: 1em;
  cursor: pointer;

  & svg {
    width: inherit;
    height: inherit;
    stroke: var(--page-dim-fg);
  }

  &:hover svg {
    stroke: var(--page-fg);
  }
}

/* note: this animation name is used in the JavaScript code,
   so take care if renaming it */
@keyframes jumped-message {
  from {
    background-color: transparent;
  }

  10% {
    background-color: rgba(50, 180, 255, 80);
  }

  to {
    background-color: transparent;
  }
}

.Message-image img {
  max-height: 400px;
  max-width: 100%;
}

.Message-foreignReference {
  display: inline-block;

  padding: 4px 6px;
  margin: 4px;

  border-radius: 6px;

  background: var(--green-a2);
  color: var(--green);
  &:hover { background: var(--green-a3); }

  cursor: pointer;

  &[data-server=''] {
    background: var(--blue-a2);
    color: var(--blue);
    &:hover { background: var(--blue-a3); }
  }
}

.Message-emote {
  min-height: 22px;
  min-width: 22px;

  object-fit: contain;
  width: 1rem;

  margin: 0 .05em 0 .1em;
  vertical-align: -.4em;
}

.Message.\--big-emotes .Message-emote {
  width: 4rem;
}

.Message-mention {
  display: inline-block;

  padding: 4px 0.7em;
  margin: 4px;

  border-radius: 2em;

  color: var(--page-dim-fg);
  background: var(--sidebar-bg);

  &.\--of-you {
    color: var(--mention-of-you-fg);
    background: var(--mention-of-you-bg);
  }
}
