:root {
  --messageEditor-fg: var(--input-fg);
  --messageEditor-bg: var(--input-bg);

  --messageEditor-border-color: var(--input-border-color);
  }

.MessageEditor {
  display: flex;
  align-items: flex-end;

  margin-top: auto;
  flex-shrink: 0;
  padding: 16px;

  position: relative;

  &.\--disabled {
    color: var(--page-dim-fg);
  }
}

.MessageEditor-textarea {
  flex: 1 1 0;

  padding: 16px;
  margin-right: 16px;  

  height: 58px;
  min-height: 58px;
  max-height: 400px;
  overflow-y: auto;

  font: inherit;

  color: var(--messageEditor-fg);
  background: var(--messageEditor-bg);

  border-radius: 4px;
  outline: none;
  border: 1px solid var(--messageEditor-border-color);
}

.MessageEditor-sendButton {
  width: 58px;
  height: 58px;

  color: transparent;
  text-indent: -99999px;

  background: var(--accent);
  border: none;
  outline: none;
  border-radius: 4px;
  background-image: url('/img/send.svg');
  background-size: default;
  background-position: center;
  background-repeat: no-repeat;
  
  cursor: pointer;
}

.MessageEditor-progressBar {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  width: 0;
  height: 4px;
  &:not(.is-moving) { width: 0 !important; }

  transition: width 500ms, background 200ms;

  background: transparent;
  &.is-moving { background: var(--accent); }
}
