:root {
  --flair-fg: var(--gray-200);
  --flair-bg: var(--gray-500);
}

.MessageGroup {
  display: flex;

  align-items: flex-start;

  margin-bottom: 16px;
  &:last-child { margin-bottom: 0 }

  color: var(--page-fg);

  &.\--anticipated {
    opacity: 0.7;
  }
}

.MessageGroup-authorAvatar {
  width: 48px;
  height: 48px;

  margin-right: 16px;
  border-radius: var(--avatar-borderRadius);
}

.MessageGroup-info {
  margin-bottom: 4px;

  & time {
    display: inline-block;
    color: var(--page-dim-fg);
  }
}

.MessageGroup-authorUsername {
  display: inline-block;
  margin-right: 4px;

  font-weight: bold;
  text-align: right;
}

.MessageGroup-authorFlair {
  display: inline-block;

  margin: 0 6px;
  padding: 2px 8px;

  border-radius: 4px;

  color: var(--flair-fg);
  background: var(--flair-bg);
}

.MessageGroup-contents {
  width: 100%;
  overflow-x: auto;
}
