:root {
  --page-fg: var(--gray-100);
  --page-dim-fg: var(--gray-300);
  --page-bg: var(--gray-700);
  --page-alt-bg: var(--gray-900);

  --page-title-fg: var(--gray-100);
  --page-subtitle-fg: var(--gray-300);
}

.Page {
  padding: 36px;
  height: 100%;
  overflow-y: auto;

  /* since bottom padding doesn't actually do anything, we need to add a
     margin onto the bottom element
     (this only works as long as the bottom element in the page is a block-
     level element, but hopefully that will always be the case) */
  & > :last-child {
    margin-bottom: 36px;
  }
}

.Page-title {
  margin-top: 0;

  font-size: 32px;
  color: var(--page-title-fg);

  letter-spacing: -1px;
}

.Page-subtitle {
  display: block;
  color: var(--page-subtitle-fg);
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}
