.Table, .Table th, .Table td {
  border: 1px solid var(--gray-500);
  border-collapse: collapse;

  background: var(--gray-900);
}

.Table th, .Table td {
  padding: 0 14px;
}

/* Center images properly: https://stackoverflow.com/questions/2452280/ */
.Table th img, .Table td img {
  vertical-align: top;
}
