:root {
  --tab-fg: var(--gray-100);
  --tab-bg: var(--gray-700);
  --tab-border-color: var(--gray-500);

  --tab-activefg: var(--tab-fg);
  --tab-activebg: var(--sidebar-bg);
}

.Tabs {
  display: flex;
}

.Tabs-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 52px;

  font-family: 'Noto Sans', sans-serif;
  color: var(--tab-fg);

  background: var(--tab-bg);
  border-right: 1px solid var(--tab-border-color);
  border-bottom: 1px solid var(--tab-border-color);

  cursor: pointer;
  font-size: .95rem;

  &:last-of-type {
    border-right: none;
  }

  &.--is-active {
    color: var(--tab-activefg);
    background: var(--tab-activebg);

    box-shadow: inset 0 4px 0 var(--accent);
    border-bottom-color: transparent;
    cursor: default;
  }

  &:hover {
    color: var(--tab-activefg);
  }
}

.Tabs-tab-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  stroke: currentColor;
}
