.Tabs {
  display: flex;
}

.Tabs-tab {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 52px;
  line-height: 12px;

  color: var(--base0D);
  background: var(--base2D);

  border-right: 1px solid var(--base2D);
  border-bottom: 1px solid var(--base24);

  cursor: pointer;
  font-size: .95rem;

  &:last-of-type {
    border-right: none;
  }

  &.--is-active {
    color: var(--base05);
    background: var(--base01);

    border-bottom-color: transparent;
    cursor: default;
  }

  &:not(.--is-active):hover {
    background: var(--base1D);
  }
}

.Tabs-tab-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  stroke: currentColor;
}
