.Sidebar {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  background: var(--sidebar-bg);
  user-select: none;

  --sidebar-icon-color: var(--base14);
  --sidebar-icon-color-active: var(--base10);

  --sidebar-list-item-hoverfg: var(--base06);
  --sidebar-list-item-hoverbg: var(--base1C);

  --sidebar-list-item-activefg: var(--base00);
  --sidebar-list-item-activebg: var(--base0C);

  &.\--on-left {
    --sidebar-fg: var(--base06);
    --sidebar-bg: var(--base00);

    box-shadow: 0 0 1px var(--base04);
  }

  &.\--on-right {
    --sidebar-fg: var(--base04);
    --sidebar-bg: var(--base01);

    --sidebar-list-item-fg: var(--base06);
    --sidebar-list-item-bg: var(--base01);

    --sidebar-list-item-hoverfg: var(--base0D);
    --sidebar-list-item-hoverbg: var(--base1D);

    box-shadow: 0 0 1px var(--base04);

    & .Sidebar-section {
      &:last-child {
        flex-grow: 1;
      }
    }
  }
}

.Sidebar-spacer {
  flex: 1;
}

.Sidebar-list {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.Sidebar-list-item {
  display: flex;
  position: relative;

  align-items: center;
  padding: 8px 24px;

  font-size: 16px;
  text-decoration: none;

  overflow-x: hidden;

  cursor: pointer;

  color: var(--sidebar-list-item-fg);
  background: var(--sidebar-list-item-bg);

  &:hover {
    opacity: 1 !important;

    color: var(--sidebar-list-item-hoverfg);
    background: var(--sidebar-list-item-hoverbg);

    &.is-unread::after {
      opacity: 0.7;
    }
  }

  &.is-active {
    color: var(--sidebar-list-item-activefg);
    background: var(--sidebar-list-item-activebg);

    &.\--icon-channel::before {
      color: var(--sidebar-icon-color-active);
    }

    &.is-unread::after {
      border-color: var(--sidebar-list-item-activebg);
    }
  }

  &.\--icon-channel::before {
    display: inline;
    content: '#';

    margin-right: 8px;
    margin-left: -4px;

    font-weight: bold;
    color: var(--sidebar-icon-color);
  }

  &.\--icon-setting::before {
    display: inline-block;
    content: ' ';

    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-left: -4px;

    /* TODO: use --sidebar-icon-color for the color of this icon, somehow */
    background: url('/img/cog.svg') center center / contain no-repeat;
  }

  &.is-unread::after {
    display: block;
    content: ' ';

    position: absolute;
    top: 9px;
    left: 14px;
    width: 6px;
    height: 6px;

    border-radius: 99px;
    background: var(--base0C);
    border: 2px solid var(--base00); /* Border color should always match background */
  }
}

.Sidebar-section {
  padding: 16px;

  &.\--bottom-line {
    border-bottom: 1px solid var(--sidebar-border-color);
  }

  &.\--no-pad {
    padding: 0;
  }

  &.\--no-pad-horiz {
    padding-left: 0;
    padding-right: 0;
  }
}

.Sidebar-section-title {
  display: flex;
  position: relative;

  align-items: center;
  margin-bottom: 4px;

  z-index: 10;

  &.\--pad-horiz {
    padding: 0 16px;
  }

  & > h4 {
    color: var(--base15);
    font-size: 14px;

    margin: 0;
  }

  & > button {
    margin-left: auto;
    padding: 8px 12px;

    font-weight: bold;
    color: var(--base0C);
    background: transparent;
    &:hover { background: var(--base1C); }

    font-size: 12px;
    border: 1px solid var(--base1C);
    border-radius: 4px;

    cursor: pointer;
  }
}

.Sidebar-section-content {
  color: var(--sidebar-fg);

  font-size: 14px;
  user-select: text;
}

#Sidebar-section-serverList {
  background: var(--base11);
}
