.Toast {
  stroke: currentColor;
  color: var(--base08);
  background: var(--base00);

  position: fixed;
  right: 2em;
  bottom: 2em;

  padding: 1.5em;

  border-radius: 10px;
  box-shadow: 0px -2px 18px 0px var(--base26);

  &.\--red {
    color: var(--base00);
    background: var(--base0F);
  }
}

@media (prefers-color-scheme: dark) {
  .Toast {
    box-shadow: none;
    border: 2px solid var(--base26);
  }
}

/* Icon container */
.Toast .markup {
  display: inline-block;
  margin: 0 1em;

  vertical-align: middle;

  &:first-child { margin-left: 0 }
}
