.AccountSettings {
  background: var(--gray-900);
  max-width: 700px;

  padding-right: 80px;
  box-shadow: 0 0 16px -4px #00000044;
}

.AccountSettings-title {
  margin-left: 180px;
}

.AccountSettings-input {
  & > p {
    line-height: 1.6;
    margin-left: 13px;
  }

  & > .styled-button.no-bg {
    color: var(--red);
  }

  &.\--avatar {
    flex-wrap: wrap;

    & > img {
      width: 50px;
      height: 50px;

      margin-left: 24px;
    }

    & + p {
      margin-left: 180px;
      color: var(--gray-300);

      & a {
        color: var(--gray-100);
      }
    }
  }

  & > .save {
    margin-left: 24px;
    padding: 14px 24px;

    font-size: 18px;
    background: var(--green);
  }
}

.AccountSettings-submit {
  display: block;
  margin: 80px 0 20px auto;
  float: right;
}

.AccountSettings-submit-status {
  color: var(--red);
}

.AccountSettings-loginSessionsTitle {
  clear: right;
  border-top: 1px solid var(--gray-500);
  padding-top: 36px;
}

.AccountSettings-sessionID {
  color: var(--gray-100);
  font-family: monospace;
  white-space: nowrap;
  filter: blur(5px);

  &:hover {
    filter: blur(0);
    color: var(--gray-300);
    transition: filter 300ms, color 300ms;
  }
}
