.AuthorizedUsers {}

.AuthorizedUsers-userID {
  color: var(--gray-300);
  float: right;
  margin-left: 10px;

  & > span {
    font-family: monospace;
  }
}

.AuthorizedUsers-table {
  & tr {
    height: 50px;
  }

  & td:nth-child(2) {
    min-width: 300px;
  }
}
