:host {
  background: var(--gray-900);
  max-width: 700px;

  padding-right: 80px;
  box-shadow: 0 0 16px -4px #00000044;

  h1 {
    margin-left: 180px;
  }

  .styled-input {
    display: flex;
    flex-direction: row;

    & > label {
      width: 150px;
      line-height: 50px;

      margin: 0;
      margin-right: 14px;

      text-align: right;
    }

    & > p {
      line-height: 1.6;
      margin-left: 13px;
    }

    & > .styled-button.no-bg {
      color: var(--red);
    }
  }

  & > .avatar {
    flex-wrap: wrap;

    & > img {
      border-radius: 4px;
      width: 50px;
      height: 50px;

      margin-left: 24px;
    }

    & + p {
      margin-left: 180px;
      color: var(--gray-300);

      a {
        color: var(--gray-100);
      }
    }
  }

  & > .submit {
    display: block;

    margin-top: 80px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 20px;
    float: right;

    & > .status {
      color: var(--red);
    }

    & > .save {
      margin-left: 24px;
      padding: 14px 24px;

      font-size: 18px;
      background: var(--green);
    }
  }

  h2 {
    clear: right;
    border-top: 1px solid var(--gray-300);
    padding-top: 4px;
  }

  .session-id {
    color: var(--gray-300);
    font-family: monospace;
    white-space: nowrap;
    filter: blur(6px);

    &:hover {
      filter: blur(0);
      transition: filter 2s;
    }
  }
}
